$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$orange: #EB8921;
$lite-orange: #F5AD28;
$white: #FFFFFF;
$gray: #2E2F2F;
$darker-gray: #1E1E1E;
$black: #000000;

body {
  font-family: 'Montserrat', sans-serif;
  background-color:  $gray;
  color: $orange;
  padding-top: 5%;
};

.landing {
  background-image: url("http://wallpapercave.com/wp/EnDM8YS.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-width: 100%;
  margin-top: 5%;
  height: 600px;
  display: block;
  border-top: 3px solid $orange;
}

.fa-github {
  color: $orange;
  font-size: 10em;
  text-align: center;
  left: 50%;
  position: relative;;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fa-github:hover {
  color: $lite-orange;
}

form {
  width: 50%;
  margin-left: 30%;
  padding-top: 10%;
  display: block;
}

#meal-content {
  margin-top: 8%;
  display: block;
  clear: both;
  min-height: 300px;
}

.below-landing {
  display: block;
  clear: both;
}

.landing-header {
  color: $orange;
}

.icon-div {
  text-align: center;
  background-color: $gray;
  padding-bottom: 5%;
  display: block;
  border-top: 3px solid $orange;
}

.icon {
  padding-top: 10%;
  font-size: 8em;
  color: $white;
  margin-bottom: 5%;
}

.jumbotron {
  background: rgba(0, 0, 0, 0);
  text-shadow: .25px 0 0 $black, -.25px 0 0 $black, 0 .25px 0 $black, 0 -.25px 0 $black, .25px .25px $black;
  padding-top: 10%;
  padding-bottom: 30%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.btn-primary {
  background: $orange;
  border-color: $black;
}

.table-responsive {
  max-height: 400px;
  overflow: auto;
  font-size: .75em;
  margin-left: 5%;
  margin-right: 5%;
  background-color: $darker-gray;
  margin-bottom: 2%;
}

.create-meal-input {
  margin-top: 5%;
}

footer{
  height: 500px;
  background-color: $darker-gray;
  border-top: 3px solid $orange;
  clear:both;
}

.meal-label{
  margin-top: 5%;
  margin-left: 5%;
}

.input-group-sm {
  min-width: 50px;
}

.search-input {
  margin-bottom: 5%;
  padding-top: 10%;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.search-placeholder {
  padding-top: 10%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.add-food-btn {
  border-radius: 100%;
}

.table {
  border: $black;
}

.a.dropdown-toggle {
  padding: 0 !important;
}

.brand {
  height: 100%;
  margin: 5%;
}

.navbar-brand {
  padding: 0;
  margin-bottom: 5%;
}
